// Site Title
.site-title {
  padding: 15px;
  span {
    font-size: 16px;
  }
  .st-links {
    text-align: center;
  }
}

.MuiDrawer-paper span {
  text-align: center;
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 600;
}