// Site Title
.site-title {
  padding: 15px;
  span {
    font-size: 16px;
  }
  .st-links {
    text-align: center;
  }
}

.MuiDrawer-paper span {
  text-align: center;
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 600;
}

// Rotate nav links
.makeStyles-drawerClose-12 {
  transition: all 0.2s ease !important;

  .MuiListItem-button span {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }
}
.MuiListItem-button span {
  transition: all 0.1s ease-in-out;
}
