.portfolio-nav {
  background: black;
  display: grid;
  // Site Title
  .site-title {
    padding: 15px;
    color: white;
    h1 {
      font-weight: bold;
      margin-bottom: 5px;
    }
    span {
      font-size: 22px;
    }
  }
  // Links
  .nav-links {
    padding: 25px;
    align-self: end;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      font-size: 20px;
      margin: 10px auto;
    }
    a {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
    }
  }
}