body {
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: 'Big Shoulders Display', cursive;
}
p, span, li {
  font-family: 'Open Sans', sans-serif;
}

// Structure of portfolio
.portfolio-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
}